.idea
venv
models/cross-hands-tiny.cfg
models/cross-hands-tiny.weights
models/cross-hands.cfg
models/cross-hands.weights
.vscode/*
data/*
abc/*
result/*
*.h5
*.pyc
*.zip
.ipynb_checkpoints/*
demo.py
demo_webcam.py
